{include file='public/head' /}
<div class="layui-form" lay-filter="layuiadmin-form-role" id="layuiadmin-form-role" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">排序</label>
        <div class="layui-input-block">
            <input type="text" name="sort" placeholder="排序" autocomplete="off" class="layui-input">
            <input type="hidden" name="id" value="0">
            <input type="text" style="display: none" name="path" value="">
        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <button class="layui-btn" lay-submit lay-filter="LAY-user-role-submit" id="LAY-user-role-submit">提交</button>
    </div>
</div>

{include file="public/foot" /}

<script>
    layui.config({
        base: base_static //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form'], function(){
        var $ = layui.$
                ,form = layui.form ;
        var id = getQueryString('id') || 0
        var sort = getQueryString('sort')
        var path = getQueryString('path')
        $('input[type="hidden"]').val(id)
        $('input[name="sort"]').val(sort)
        $('input[name="path"]').val(path)
        form.render();
    })
</script>