{include file='public/head' /}
<div class="layui-form" lay-filter="layuiadmin-form-role" id="layuiadmin-form-role" style="padding: 20px 30px 0 0;">
    <div class="layui-form-item">
        <label class="layui-form-label">角色</label>
        <div class="layui-input-block">
            <input type="text" name="rolename" placeholder="角色名" autocomplete="off" class="layui-input">
            <input type="hidden" name="id" value="0">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">分配权限</label>
        <div class="layui-input-block">
            <?php
                 foreach($rights as $v){
                   $id = $v->id;
                    $title = $v->title;
                    if(in_array($v->id,$rightlist)){
                        echo '<input type="checkbox" name="rightid[]" checked value='.$id .' title='.$title.' />';
                    }else{
                        echo '<input type="checkbox" name="rightid[]" value='.$id .' title='.$title.' />';
                    }
                }
            ?>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">是否启用</label>
        <div class="layui-input-block">
            <select name="status">
                <option value="0">是</option>
                <option value="1">否</option>
            </select>

        </div>
    </div>
    <div class="layui-form-item layui-hide">
        <button class="layui-btn" lay-submit lay-filter="LAY-user-role-submit" id="LAY-user-role-submit">提交</button>
    </div>
</div>

{include file="public/foot" /}

<script>
    layui.config({
        base: base_static //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'form'], function(){
        var $ = layui.$
        ,form = layui.form ;
        var id = getQueryString('id') || 0
        var name = getQueryString('name')
        var status = getQueryString('status')
        $('input[type="hidden"]').val(id)
        $('input[name="rolename"]').val(name)
        $('select[name="status"]').find('option[value='+status+']').attr("selected",true)
        form.render();
    })
</script>