{include file='public/head' /}
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div style="padding-bottom: 10px;">
                <button class="layui-btn layuiadmin-btn-type" data-type="batchdel">删除</button>
                <button class="layui-btn layuiadmin-btn-type" data-type="add">添加</button>

            </div>

            <table id="test-table-page" lay-filter="test-table-page">

            </table>
            <script type="text/html" id="buttonTpl">
                {{#  if(d.check == true){ }}
                <button class="layui-btn layui-btn-xs">已审核</button>
                {{#  } else { }}
                <button class="layui-btn layui-btn-primary layui-btn-xs">未审核</button>
                {{#  } }}
            </script>
            <script type="text/html" id="table-useradmin-admin">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>
    </div>
</div>

{include file="public/foot" /}
<script>
    layui.config({
        base: base_static //静态资源所在路径
    }).extend({
        index: 'lib/index' //主入口模块
    }).use(['index', 'table'], function() {
        var admin = layui.admin
            , table = layui.table
            ,$ = layui.jquery;

        table.render({
            elem: '#test-table-page'
            , url: '/room/typeList'
            , toolbar: '#test-table-toolbar-toolbarDemo'
            ,cols:[[
                {type: "checkbox", fixed: "left"},
                {field: "id", width: 80, title: 'id', sort: !0},
                { field: "typename", title: "码表类别"},
                {field: "status", title: "状态",templet:function (d) {
                    if(d.status==='0'){
                        return '可用'
                    }else{
                        return '禁用'
                    }
                }},
                {
                title: "操作",
                width: 150,
                align: "center",
                fixed: "right",
                toolbar: "#table-useradmin-admin"
            }]]
            , page: true
        });


        //事件
        var active = {
            batchdel: function(){
                var checkStatus = table.checkStatus('test-table-page')
                        ,checkData = checkStatus.data; //得到选中的数据

                if(checkData.length === 0){
                    return layer.msg('请选择数据');
                }

                layer.confirm('确定删除吗？', function(index) {
                    for(var i=0;i<checkData.length;i++){
                        var field = {
                            id:checkData[i].id
                        }
                        $.ajax({
                            url:'/room/delType',
                            type:'post',
                            data:field,
                            success:function (d) {
                                if(d.code===200){
//                                    layer.msg(d.msg)
//                                    table.reload('test-table-page');
                                }else{
//                                    layer.msg(d.msg)
                                }

                            }
                        });
                    }
                    //执行 Ajax 后重载
                    /*
                     admin.req({
                     url: 'xxx'
                     //,……
                     });
                     */
                    table.reload('test-table-page');
                    layer.msg('已删除');
                });
            },
            add: function(){
                layer.open({
                    type: 2
                    ,title: '添加新类别'
                    ,content: '/room/typesform?id=0'
                    ,area: ['500px', '480px']
                    ,btn: ['确定', '取消']
                    ,yes: function(index, layero){
                        var iframeWindow = window['layui-layer-iframe'+ index]
                                ,submit = layero.find('iframe').contents().find("#LAY-user-type-submit");

                        //监听提交
                        iframeWindow.layui.form.on('submit(LAY-user-type-submit)', function(data){
                            var field = data.field; //获取提交的字段
                            console.log(field)
                            //提交 Ajax 成功后，静态更新表格中的数据
                            $.ajax({
                                url:'/room/addtype',
                                type:'post',
                                data:field,
                                success:function (d) {
                                    if(d.code===200){
                                        layer.alert(d.msg)
                                        table.reload('test-table-page');
                                        layer.close(index); //关闭弹层
                                    }else{
                                        layer.alert(d.msg)
                                    }

                                }
                            });

                        });

                        submit.trigger('click');
                    }
                });
            }
        }

        //监听行工具事件
        table.on('tool(test-table-page)', function (obj) {
            var data = obj.data;
            if (obj.event === 'edit') {
                layer.open({
                    type: 2
                    ,title: '更新类别'
                    ,content: '/room/typesform?id='+data.id+'&name='+data.typename+'&status='+data.status
                    ,area: ['500px', '480px']
                    ,btn: ['确定', '取消']
                    ,yes: function(index, layero){
                        var iframeWindow = window['layui-layer-iframe'+ index]
                                ,submit = layero.find('iframe').contents().find("#LAY-user-type-submit");

                        //监听提交
                        iframeWindow.layui.form.on('submit(LAY-user-type-submit)', function(data){
                            var field = data.field; //获取提交的字段
                            console.log(field)
                            if(!field.typename){
                                layer.msg("请输入类别名称")
                                return false
                            }
                            //提交 Ajax 成功后，静态更新表格中的数据
                            $.ajax({
                                url:'/room/addType',
                                type:'post',
                                data:field,
                                success:function (d) {
                                    if(d.code===200){
                                        layer.alert(d.msg)
                                        table.reload('test-table-page');
                                        layer.close(index); //关闭弹层
                                    }else{
                                        layer.alert(d.msg, {
                                            icon: 1,
                                            skin: 'layer-ext-moon' //该皮肤由layer.seaning.com友情扩展。关于皮肤的扩展规则，去这里查阅
                                        })
                                    }

                                }
                            });
                        });
                        submit.trigger('click');
                    }
                });
            } else if (obj.event === 'del') {
                var data = obj.data;
                var field ={
                    id:data.id
                }
                $.ajax({
                    url:'/room/delType',
                    type:'post',
                    data:field,
                    success:function (d) {
                        if(d.code===200){
                            layer.msg(d.msg)
                            table.reload('test-table-page');
                        }else{
                            layer.msg(d.msg)
                        }

                    }
                });
            }

        });

        $('.layui-btn.layuiadmin-btn-type').on('click', function(){
            console.log(111)
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });

</script>
